<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TriagePic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TriagePic.Properties.Settings>
            <setting name="TriagePic_gov_nih_nlm_hepldemo1__Web_Services"
                serializeAs="String">
                <value>http://hepldemo.nlm.nih.gov/index.php?stream=soap&amp;wbsmod=pls&amp;mod=ws&amp;act=reg</value>
            </setting>
        </TriagePic.Properties.Settings>
    </applicationSettings>
</configuration>